body {
	overflow-x: hidden;
}

#first {
	background-color: #eafaff;
	width: 73.2em;
	padding-right: 20em;
	height: 35em;
	position: relative;
	bottom: 8px;
	right: 8px;
}

.btn {
  background: #ff52bf;
  background-image: -webkit-linear-gradient(top, #ff52bf, #ff52bf);
  background-image: -moz-linear-gradient(top, #ff52bf, #ff52bf);
  background-image: -ms-linear-gradient(top, #ff52bf, #ff52bf);
  background-image: -o-linear-gradient(top, #ff52bf, #ff52bf);
  background-image: linear-gradient(to bottom, #ff52bf, #ff52bf);
  -webkit-border-radius: 21;
  -moz-border-radius: 21;
  border-radius: 21px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  position: relative;
  top: 6em;
  right: 16.5em;
  padding: 15px 70px;
  text-decoration: none;
}

.btn:hover {
  background: #c8f0fe;
  background-image: -webkit-linear-gradient(top, #fdae7e, #fdae7e);
  background-image: -moz-linear-gradient(top, #fdae7e, #fdae7e);
  background-image: -ms-linear-gradient(top, #fdae7e, #fdae7e);
  background-image: -o-linear-gradient(top, #fdae7e, #fdae7e);
  background-image: linear-gradient(to bottom, #fdae7e, #fdae7e);
  text-decoration: none;
}

.plogo img {
	width: 30em;
	height: 21.5em;
	position: relative;
	left: 44em;
	top: 8.5em;
}

.logo img {
	position: absolute;
	top: 3em;
	left: 10.4em;
	width: 12em;
	height: 2em;
}

h1 {
	font-family: 'Lato', sans-serif;
	font-weight: bolder;
	line-height: 1.5;
	position: absolute;
	top: 4.6em;
	left: 5.1em;
}

#firstp {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	line-height: 1.4;
	margin-top: 30px;
	position: relative;
	top: -5em;
	left: 8em;
}

.second {
	position: relative;
	top: 1em;
	left: 1em;
	border: 2px solid #e8e8e9;
	box-shadow: 10px 10px #eeefee;
	margin: 2em 8em;
	width: 65em;
	line-height: 21em;
	border-radius: 20px;
	display: flex;
}
.second img {
	width: 20em;
	height: 17em;
	position: relative;
	top: 3em;
	display: inline;
}

.second h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	position:relative;
	bottom: 2em;
	left: 3em;
	font-weight: bold;
	display: inline;
}

.second p {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #a8b1b9;
	position: relative;
	top: 7.5em;
	right: 5em;
	line-height: 1.6;
	display: inline;
}

.third {
	border: 2px solid #e8e8e9;
	box-shadow: 10px 10px #eeefee;
	border-radius: 20px;
	line-height: 20em;
	margin: 5.5em 9em;
	width:65.5em;
	display: flex;

}
.third img {
	width: 21em;
	height: 15em;
	position: relative;
	right: 38em;
	top: 3.5em;
	display: inline;
}

.third h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	position: relative;
	left: 18em;
	bottom: 2em;
	display: inline;
}

.third p {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #a8b1b9;
	position: relative;
	left: 12em;
	top: 7.2em;
	line-height: 1.7;
	display: inline;
}

.fourth {
	border: 2px solid #e8e8e9;
	box-shadow: 10px 10px #eeefee;
	border-radius: 20px; 
	line-height: 20em;
	margin: 1em 8em 2em 9em;
	width:66.5em;
	display: flex;
}
.fourth img {
	position: relative;
	left: 3em;
	top: 4em;
	width: 21em;
	height: 16em;
	display: flex;
}

.fourth h2 {
	font-family: 'Roboto', sans-serif;
	position: relative;
	left: 3em;
	bottom: 2em;
	font-size: 30px;
	display: inline;
}

.fourth p {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: #a8b1b9;
	position: relative;
	top: 7.3em;
	right: 2.5em;
	line-height: 1.6;
	display: inline
}

footer {
	background-color: #eafaff;
	width: 100em;
	height: 25em;
	margin-top: 10em;
	margin-bottom: -10em;
	display: block;
}

footer img {
	margin: 3em 3em;
}

.am {
	font-size: 35px;
	text-decoration: none;
	display: inline;
	font-family: 'Roboto', sans-serif;
	position: relative;
	left: 3em;
	bottom: 0.1em;
}

.am:hover {
	color: #d953d9;
}

.wid {
	font-size: 30px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	position: relative;
	right: 2em;
	top: 2.5em;
}

.wid:hover {
	color: #d953d9;
}

#faq {
	font-size: 30px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	position: relative;
	right: 9em;
	top: 7em;
}

#faq:hover {
	color: #d953d9;
}

#mb {
	font-size: 30px;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	position: relative;
	right: 11em;
	top: 5em;
}

#mb:hover {
	color: #d953d9;
}

footer p {
	font-family: 'Roboto', sans-serif;
	position: relative;
	left: 60em;
	top: 11em;
}